# Ignore o ambiente virtual
venv/
.venv/

# Ignore dependências do Node.js
node_modules/

# Ignore arquivos do Next.js que são gerados automaticamente
.next/
out/

# Ignore arquivos de sistema
.DS_Store
Thumbs.db

# Ignore arquivos de ambiente
.env
.env.local
